.CreateTodoButton {
  align-items: center;
  background-color: #61dafa;
  border: none;
  border-radius: 50%;
  bottom: 24px;
  box-shadow: 0 5px 25px rgba(97,218,250,.5);
  color: #fafafa;
  cursor: pointer;
  display: flex;
  font-size: 50px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: .3s ease;
  width: 64px;
  margin-top: 37px;
}

.active{
  transform: rotate(180deg);
}


@media screen and (min-width: 1024px){

  .CreateTodoButton{
    margin-top: 27px;
  }

}
